<section class="customers" id="customers">
  <div class="container">
    <h2 class="customers-title">What our Customers Say</h2>
    <p class="customers__uppertitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers__list list">
      <li class="customers__item">
        <svg class="customers__icon" width="85" height="80">
          <use href="./images/icons.svg#Stars"></use>
        </svg>
        <p class="customers__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers__revievs">
          <!--   <picture>
            <source
              srcset="
                ./images/customers/ellipse9@1x_sm.webp 1x,
                ./images/customers/ellipse9@2x_sm.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 767.98px)"
              srcset="
                ./images/customers/ellipse9@1x_sm.png 1x,
                ./images/customers/ellipse9@2x_sm.png 2x
              "
              type="image/png"
            />
            <img
              class="logo__img"
              src="./images/customers/ellipse9@1x_sm.png"
              alt="Customers logo"
              width="48"
              height="48"
            />
          </picture> -->
          <picture>
            <source
              srcset="
                ./images/customers/ellipse9@1x_sm.webp 1x,
                ./images/customers/ellipse9@2x_sm.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customers/ellipse9@1x_sm.png 1x,
                ./images/customers/ellipse9@2x_sm.png 2x
              "
              type="image/png"
            />
            <source
              srcset="
                ./images/customers/ellipse9@1x_sm.webp 1x,
                ./images/customers/ellipse9@2x_sm.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customers/ellipse9@1x_sm.png 1x,
                ./images/customers/ellipse9@2x_sm.png 2x
              "
              type="image/png"
            />
            <source
              srcset="
                ./images/customers/ellipse9@1x_sm.webp 1x,
                ./images/customers/ellipse9@2x_sm.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customers/ellipse9@1x_sm.png 1x,
                ./images/customers/ellipse9@2x_sm.png 2x
              "
              type="image/png"
            />
            <img
              class="logo__img"
              src="./images/customers/ellipse9@1x_sm.png"
              alt="Customers logo"
            />
          </picture>
          <h3 class="customers-title">Sumith Shah</h3>
          <p class="customers-name">Some Dude</p>
        </div>
      </li>
      <li class="customers__item">
        <svg class="customers__icon" width="85" height="80">
          <use href="./images/icons.svg#Stars"></use>
        </svg>
        <p class="customers__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>

        <div class="customers__revievs">
          <picture>
            <source
              srcset="
                ./images/customers/ellipse10@1x_sm.webp 1x,
                ./images/customers/ellipse10@2x_sm.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customers/ellipse10@1x_sm.png 1x,
                ./images/customers/ellipse10@2x_sm.png 2x
              "
              type="image/png"
            />
            <source
              srcset="
                ./images/customers/ellipse10@1x_sm.webp 1x,
                ./images/customers/ellipse10@2x_sm.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customers/ellipse10@1x_sm.png 1x,
                ./images/customers/ellipse10@2x_sm.png 2x
              "
              type="image/png"
            />
            <source
              srcset="
                ./images/customers/ellipse10@1x_sm.webp 1x,
                ./images/customers/ellipse10@2x_sm.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customers/ellipse10@1x_sm.png 1x,
                ./images/customers/ellipse10@2x_sm.png 2x
              "
              type="image/png"
            />
            <img
              class="logo__img"
              src="./images/customers/ellipse10@1x_sm.png"
              alt="Customers logo"
            />
          </picture>
          <h3 class="customers-title">Sumith Shah</h3>
          <p class="customers-name">Some Dude</p>
        </div>
      </li>
    </ul>
  </div>
</section>
