<section class="customers" id="customers">
  <div class="container">
    <h2 class="customers-title">What our Customers Say</h2>
    <p class="customers__uppertitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers__list">
      <li class="customers__item">
        <svg class="customers__icon" width="85" height="80">
          <use href="./images/icons.svg#Stars"></use>
        </svg>
        <p class="customers__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="">
          <svg class="" width="48" height="48">
            <use href="./images/icons.svg#"></use>
          </svg>
        </div>
      </li>
      <li class="customers__item">
        <svg class="customers__icon" width="85" height="80">
          <use href="./images/icons.svg#Stars"></use>
        </svg>
        <p class="customers__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
      </li>
    </ul>
  </div>
</section>
