<section class="favorites">
  <div class="container">
    <h2 class="section__title">Some of Our Favorites</h2>
    <p class="favorites__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list list">
      <li class="favorites__item">
        <a
          class="favorites__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          ><img
            class="favorites__images"
            width="224px"
            src="./images/favorites/gamburger@1x_sm.png"
            alt="gamburger"
        /></a>
      </li>
      <li class="favorites__item">
        <a
          class="favorites__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          ><img
            class="favorites__images"
            width="224px"
            src="./images/favorites/pasta@1x_sm.png"
            alt="pasta"
        /></a>
      </li>
      <li class="favorites__item">
        <a
          class="favorites__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          ><img
            class="favorites__images"
            width="224px"
            src="./images/favorites/pizza@1x_sm.png"
            alt="pizza"
        /></a>
      </li>
      <li class="favorites__item favorites__item--none">
        <a
          class="favorites__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          ><img
            class="favorites__images"
            src="./images/favorites/chicken@1x_md.png"
            alt="chicken"
        /></a>
      </li>
      <li class="favorites__item favorites__item--none">
        <a
          class="favorites__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          ><img
            class="favorites__images"
            src="./images/favorites/salat@1x_md.png"
            alt="salat"
        /></a>
      </li>
      <li class="favorites__item favorites__item--none">
        <a
          class="favorites__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          ><img
            class="favorites__images"
            src="./images/favorites/borshch@1x_md.png"
            alt="borshch"
        /></a>
      </li>
    </ul>
  </div>
</section>
