<section class="hero">
  <div class="hero_container container">
    <div class="hero_left-side">
      <h1 class="hero_uppertitle">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="btn hero_btn" type="button">Order Now</button>
    </div>
    <div class="hero_right-side">
      <img
        class="hero_img"
        width="528"
        src="././images/hero/slider1@1x_lg.png"
        alt="food on a plate"
      />
    </div>
  </div>
</section>
