<section class="hero">
  <div class="hero__container container">
    <div class="hero__left-side">
      <h1 class="hero__uppertitle">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="btn hero__btn" type="button">Order Now</button>
    </div>
    <div class="hero__right-side">
      <img
        srcset="
          ./images/hero/slider1@1x_md.png  292w,
          ./images/hero/slider1@2x_md.png  584w,
          ./images/hero/slider1@1x_lg.png  528w,
          ./images/hero/slider1@2x_lg.png 1056w
        "
        sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px"
        class="hero__img img"
        width="292"
        src="./images/hero/slider1@1x_lg.png"
        alt="food on a plate"
      />
    </div>
  </div>
</section>
