<section class="offerings">
  <div class="offerings-container container">
    <div class="offerings_apple-side">
      <img
        srcset="
          ../src/images/offerings/apple@1x_sm.png  280w,
          ../src/images/offerings/apple@2x_sm.png  560w
          ../src/images/offerings/apple@1x_md.png  357w,
          ../src/images/offerings/apple@2x_md.png  714w,
          ../src/images/offerings/apple@1x_lg.png  550w,
          ../src/images/offerings/apple@2x_lg.png 1100w
          "
        sizes="(min-width: 1280px) 550px, (min-width: 768px) 357px, 100vw"
        class="offerings_photo"
        src="../src/images/offerings/apple@1x_sm.png"
        alt="green apple"
        width="100%"
      />
    </div>
    <div class="offerings_explanation">
      <h2 class="offerings_title">What’s Special About Our Offerings</h2>
      <p class="offerings_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings_explanation-list list">
        <li class="explanation_item">
          <svg width="48" height="48">
            <use href="/./src/images/icons.svg#rocket"></use>
          </svg>
          <h3 class="explanation_item-title">Fasest Delivery</h3>
          <p class="explanation_item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="explanation_item">
          <svg width="48" height="48">
            <use href="/./src/images/icons.svg#touch"></use>
          </svg>
          <h3 class="explanation_item-title">Easy To Order</h3>
          <p class="explanation_item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <button class="explanation_btn btn" type="button">Order Now</button>
      <button class="more_btn bnt" type="button">
        Read More
        <svg width="13.67" height="13.67">
          <use href="/./src/images/icons.svg#icon-Chevron-Down"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
