<section class="offerings" id="about">
  <div class="offerings__container container">
    <div class="offerings__wrap-apple">
      <div>
        <img
          srcset="
            ./images/offerings/apple@1x_sm.png  280w,
            ./images/offerings/apple@2x_sm.png  560w,
            ./images/offerings/apple@1x_md.png  357w,
            ./images/offerings/apple@2x_md.png  714w,
            ./images/offerings/apple@1x_lg.png  550w,
            ./images/offerings/apple@2x_lg.png 1100w
          "
          sizes="(min-width: 1280px) 550px, (min-width: 768px) 357px, 280px"
          class="offerings__photo"
          src="./images/offerings/apple@1x_sm.png"
          alt="green apple"
          width="280"
          height="309"
        />
      </div>
      <div class="hidden-list">
        <img
          srcset="
            ./images/offerings/apple_md.png  166w,
            ./images/offerings/apple2_md.png 332w
          "
          sizes="(min-width: 768px) 166px"
          class="hidden-apple"
          src="./images/offerings/apple_md.png"
          alt="medium green apple"
          width="166"
          height="211"
        />
        <img
          srcset="
            ./images/offerings/apple_sm.png  108w,
            ./images/offerings/apple2_sm.png 216w
          "
          sizes="(min-width: 768px) 108px"
          class="hidden-apple"
          src="./images/offerings/apple_sm.png"
          alt="small green apple"
          width="108"
          height="136"
        />
      </div>
    </div>
    <div class="offerings__explanation">
      <h2 class="offerings__title">What’s Special About Our Offerings</h2>
      <p class="offerings__text offerings__text-main">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings__explanation-list list">
        <li class="explanation__item">
          <h3 class="explanation__item-title fasest-title">Fasest Delivery</h3>
          <p class="explanation__item-text offerings__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="explanation__item">
          <h3 class="explanation__item-title easy-title">Easy To Order</h3>
          <p class="explanation__item-text offerings__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <div class="buttons">
        <button class="explanation__btn btn" type="button" data-modal-open>
          Order Now
        </button>
        <div class="more-text">
          <input type="checkbox" id="read-more" hidden />
          <label for="read-more" class="read-more"
            >Read
            <span class="more"
              >more
              <svg class="more-icon" width="13.67" height="13.67">
                <use
                  href="/./src/images/icons.svg#icon-Chevron-Down"
                ></use></svg></span
            ><span class="less">less</span></label
          >
          <p class="extra-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed
            nihil provident corporis cum numquam accusamus. Dignissimos, dolores
            vitae voluptate, quam, neque provident impedit suscipit molestiae
            facilis dolorum fugit deleniti.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
