.customers {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% /* 100% */;
}

.customers__item {
  padding: 8px;
  background-color: #ffffff;
  border-radius: 0px 30px 30px 30px;
}

.customers__revievs {
  display: flex;
  width: 160px;
  height: 52px;
  /* padding-left: 8px; */
  border-right: 1px solid #7eb101;
}

.customers__revievs-boy {
  width: 52px;
  border: 2px solid #ffe550;
  border-radius: 50%;
}
.customers__response {
  padding-top: 5px;
  padding-left: 16px;
}

.customers__response-title {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(21 / 14);
}

.customers-name {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(21 / 14);
}

@media screen and (max-width: 767.98px) {
  .customers {
    padding-top: 60px;
    padding-bottom: 60px;

    max-width: 100%;
    background-image: url(../images/customers/rectangle701@1x_sm.svg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/customers/rectangle701@2x_sm.svg);
    }
  }
  .customers-title {
    font-size: 28px;
    margin-bottom: 20px;
    line-height: calc(33 / 28);
  }

  .customers__uppertitle {
    font-size: 14px;
    line-height: calc(16 / 14);
    color: #2c2c2c;
    margin-bottom: 32px;
  }

  .customers__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }

  .customers__text {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: #2c2c2c;
    margin-top: 28px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .customers {
    padding-top: 60px;
    padding-bottom: 120px;

    max-width: 100%;
    background-image: url(../images/customers/rectangle706@1x_md.svg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/customers/rectangle706@2x_md.svg);
    }

    .customers-title {
      max-width: 526px;
      margin-bottom: 20px;
      font-size: 42px;
      line-height: calc(49 / 42);
    }

    .customers__uppertitle {
      font-size: 16px;
      line-height: calc(19 / 16);
      color: #2c2c2c;
      margin-bottom: 32px;
    }
  }

  .customers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  .customers__item {
    width: 336px;
  }

  .customers__text {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: #2c2c2c;
    margin-top: 28px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .customers {
    padding-top: 100px;
    padding-bottom: 200px;

    max-width: 1920px;
    background-image: url(../images/customers/rectangle706@1x_lg.svg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/customers/rectangle706@2x_lg.svg);
    }
  }
  .customers__uppertitle {
    font-size: 16px;
    line-height: calc(19 / 16);
    color: #2c2c2c;
    margin-bottom: 32px;
  }

  .customers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 139px;
  }

  .customers__item {
    width: 500px;
  }
  .customers__text {
    margin-top: 28px;
    margin-bottom: 40px;
  }
}
