.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

  background-image: url(../images/footer/img-1@1x-sm.png),
    url(../images/footer/img-2@1x-sm.png), url(../images/footer/img-3@1x-sm.png);

  background-repeat: no-repeat;
  background-position: left 132px, bottom, right top;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/footer/img-1@2x-sm.png),
      url(../images/footer/img-2@2x-sm.png),
      url(../images/footer/img-3@2x-sm.png);
    background-size: 110px, 253px, 104px;
  }

  @media screen and (min-width: $tablet) {
    padding-bottom: 100px;
    padding-top: 100px;

    background-image: url(../images/footer/img-1@1x-md.png),
      url(../images/footer/img-2@1x-md.png),
      url(../images/footer/img-3@1x-md.png),
      url(../images/footer/img-4@1x-md.png),
      url(../images/footer/img-5@1x-md.png),
      url(../images/footer/img-6@1x-md.png),
      url(../images/footer/img-8@1x-md.png),
      url(../images/footer/img-7@1x-md.png);
    background-position: -17px 100%, 136px 100%, 197px 100%, right 233px bottom,
      right 111px bottom, 100% 100%, 100% 0, 100% 35px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/img-1@2x-md.png),
        url(../images/footer/img-2@2x-md.png),
        url(../images/footer/img-3@2x-md.png),
        url(../images/footer/img-4@2x-md.png),
        url(../images/footer/img-5@2x-md.png),
        url(../images/footer/img-6@2x-md.png),
        url(../images/footer/img-7@2x-md.png),
        url(../images/footer/img-8@2x-md.png);
      background-size: 184px, 168px, 193px, 221px, 141px, 170px, 203px, 96px;
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/footer/img-1@1x-lg.png),
      url(../images/footer/img-2@1x-lg.png),
      url(../images/footer/img-3@1x-lg.png),
      url(../images/footer/img-5@1x-lg.png),
      url(../images/footer/img-4@1x-lg.png),
      url(../images/footer/img-6@1x-lg.png),
      url(../images/footer/img-7@1x-lg.png),
      url(../images/footer/img-8@1x-lg.png);
    background-position: 53px 100%, 216px 100%, 280px 100%, center bottom,
      center bottom, right 282px bottom, right 134px bottom, right 16px bottom;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/img-1@2x-lg.png),
        url(../images/footer/img-2@2x-lg.png),
        url(../images/footer/img-3@2x-lg.png),
        url(../images/footer/img-5@2x-lg.png),
        url(../images/footer/img-4@2x-lg.png),
        url(../images/footer/img-6@2x-lg.png),
        url(../images/footer/img-7@2x-lg.png),
        url(../images/footer/img-8@2x-lg.png);
      background-size: 195px, 178px, 163px, 526px, 380px, 235px, 154px, 181px;
    }
  }
}

.footer-block1 {
  margin-bottom: 60px;

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.block1-wrap {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-bottom: 40px;

  @media screen and (min-width: $desktop) {
    justify-content: start;
    margin: 0;
  }
}

.footer__logo {
  @media screen and (min-width: $desktop) {
    margin-right: 100px;
  }
}

.footer__nav {
}

.footer-nav__link {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer-form {
  margin-bottom: 20px;
}

.footer-subscribe {
  @media screen and (min-width: $tablet) {
    min-width: 411px;
  }
}

.footer-subscribe__title {
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 150%;

  color: $color-text-primary;
}

//Subscribe Form

.footer-form__field {
  position: relative;
  @media screen and (max-width: 767.98px) {
    @include centeredFlex(flex, flex-end, center);

    flex-direction: column;
    gap: 20px;
  }
}

.footer-form__input {
  width: 100%;
  padding: 12px;

  color: $color-text-primary;
  @include fonts(12px, 18px, 400);

  border: 1px solid #ffe550;
  border-radius: 30px;
  outline: transparent;

  @media screen and (min-width: $tablet) {
    margin-right: 13px;
    max-width: 279px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 13px;
  }

  &::placeholder {
    color: $color-form-placeholder;
    @include fonts(12px, 18px, 400);
  }

  &:valid:not(:placeholder-shown) {
    border-color: $color-btn-border;
  }

  &:invalid:not(:placeholder-shown) {
    border-color: $color-form-error;
  }

  &:focus-within {
    border-color: $color-btn-border-hover;
  }
}

.footer-form__error {
  position: absolute;
  top: 48px;
  left: 0;

  @include centeredFlex();
  display: none;
  gap: 4px;
  color: $color-form-error;
  @include fonts(10px, 15px, 400);
}

.footer-form__input:invalid:not(:placeholder-shown) + .footer-form__error {
  display: block;
}

.footer-form__btn {
  padding: 11px 22px;
  color: $color-text-primary;
  background-color: $color-accent;
  border-radius: 30px;
  border: none;

  &:hover,
  &:focus {
    background-color: $color-btn-hover;
  }
}
.footer-btn {
  background-color: $color-white;
  border: 0.854167px solid $color-btn-border;
}

.footer-subscribe__text {
  font-size: 10px;
  line-height: calc(12 / 10);

  color: $color-text-primary;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.footer-block2 {
  text-align: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    gap: 20px;
    display: flex;
  }
}

.footer__link {
  font-size: 10px;
  line-height: calc(12 / 10);
  text-decoration-line: underline;

  color: $color-btn-border;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.footer__copyright-text {
  font-size: 10px;
  line-height: calc(12 / 10);

  color: $color-text-primary;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}
