.header {
  box-shadow: $box-shadow-header;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  padding-top: 10px;
  padding-bottom: 10px;

  // box-shadow: $box-shadow-header;
  z-index: 50;
}

.header__logo {
  // display: inline-flex;
  margin-right: auto;
}

// .logo__svg {
//   display: block;
// }

.header__btn {
  display: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 17px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $color-text-primary;
  background-color: $color-accent;
  border: none;

  &:hover,
  &:focus {
    background-color: $color-btn-hover;
  }

  @media screen and (min-width: 768px) {
    display: block;
  }

  .modal & {
    display: inline-block;

    margin-top: 20px;
    margin-right: 20px;
  }
}
