.hero {
  @media screen and (min-width: 768px) {
    margin-bottom: -108px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: -161px;
  }
}

.hero__container {
  padding-top: 60px;
  padding-bottom: 50px;
  position: relative;
  z-index: 2;

  @media screen and (min-width: 768px) {
    // margin-bottom: -108px;
    padding-bottom: 73px;
  }

  @media screen and (min-width: 1280px) {
    // margin-bottom: -161px;
    padding-top: 159px;
    padding-bottom: 164px;
  }
}
.hero__uppertitle {
  max-width: 280px;
  margin-bottom: 28px;
  @include fonts(28px, 33px, 700);

  @media screen and (min-width: 768px) {
    margin-bottom: 44px;
    max-width: 537px;
    @include fonts(42px, 50px, 700);
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 28px;
    max-width: 502px;
    @include fonts(48px, 57px, 700);
  }
}

.hero__text {
  margin-bottom: 28px;
  @include fonts(14px, 21px, 400);

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    max-width: 336px;
    @include fonts(16px, 24px, 400);
  }

  @media screen and (min-width: 1280px) {
    max-width: 502px;
  }
}

.hero__btn {
  padding: 6px 18px;
  background-color: #bbf330;
  border: none;
  transition: background-color $timing-cubic;

  &:hover,
  &:focus {
    background-color: $color-btn-hover;
  }
}

.hero__right-side {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    @include centeredFlex();
    position: absolute;
    right: 40px;
    bottom: 0;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 14px solid #ffe550;
  }

  @media screen and (min-width: 1280px) {
    right: 30px;
    bottom: 14px;
    width: 580px;
    height: 580px;
    border: 26px solid #ffe550;
  }
}

.slider-btn {
  padding-top: 3px;
  width: 34px;
  height: 28px;
  position: absolute;
  top: 50%;
  fill: $color-text-primary;
  border-radius: 4px;
  background-color: $background-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  transition: fill $timing-cubic;

  @media screen and (min-width: 1280px) {
    width: 48px;
    height: 40px;
    border-radius: 8px;
  }

  &:hover,
  &:focus {
    fill: $color-btn-border;
  }

  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
}

.slider-left {
  left: -22px;

  @media screen and (min-width: 1280px) {
    left: -40px;
  }
}

.slider-right {
  right: -22px;

  @media screen and (min-width: 1280px) {
    right: -40px;
  }
}

.swiper-wrapper {
  user-select: none;
}
